a,
a:hover,
a:visited {
  background-color: #006633;
  border: 1px solid #FFF;
  color: #FFF;
  padding: 3px 5px;
}

a:hover {
  background-color: #FFF;
  border: 1px solid #006633;
  color: #006633;
  text-decoration: none;
}

b {
  color: #006633;
}

h1,
h2,
h3,
h4 {
  color: #006633;
  font-family: 'Varela Round', sans-serif;
}

footer {
  background: #006633 url("../images/chalkboard.jpeg");
  color: #FFF;
  padding: 25px;
}

.card {
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 0;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.33);
  border: 0;
}

.card-block {
  background: #006633 url("../images/chalkboard.jpeg");
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 20px;
}

.card-footer {
  background: #006633;
  color: #FFF;
}

.card-subtitle {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.card-title {
  color: #FFF;
  margin: 0;
}

.carousel {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.carousel-caption {
  top: calc(50% - 50px);
  left: 0;
  right: 0;
  bottom: auto;
  background: rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 35px;
}

.carousel-caption h1 {
  color: #FFF;
  margin-top: 5px;
}

.carousel-caption h2 {
  color: rgba(255, 255, 255, 0.5);
}

.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height: 200px;
  max-height: 400px;
}

.container {
  padding-bottom: 100px;
}

.cta {
  text-align: center;
  margin-bottom: 50px;
}

.error {
  padding: 100px 0 50px;
  text-align: center;
}

.intro {
  padding: 25px 0;
  line-height: 32px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar a,
.navbar a:hover,
.navbar a:visited {
  color: #000;
}

.navbar-toggle .icon-bar {
  background: #000;
}

.registration {
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
  padding: 0;
}

@media (max-width: 768px) {
  .card {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .card {
    margin-right: 0;
  }

  .carousel-caption {
    border: 0;
    height: 100%;
    top: 0;
  }

  .carousel-caption h1 {
    margin-top: 25px;
  }
}
